<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="updateDestination" content="ceci est la page de modification de destination de l'utilisateur">

        <link rel="stylesheet" href="/public/style.css" media="all"/>

        <title>Modifier une destination</title>

    </head>

    <body>
        <h1>Modifier une destination</h1>

        <form action="/destupdate" method="POST">
            <input type="hidden" name="iddestination" value="<%= iddestination %>">
            Country:
            <input type="text" name="country" value="<%= country %>"><br>
            City:
            <input type="text" name="city" value="<%= city %>"><br>
            Days:
            <input type="text" name="days" value="<%= days %>"><br>
            Agence:
            <input type="text" name="fkagence" value="<%= fkagence %>"><br>

            <button type="submit">Modifier</button>
        </form>

        <form action="/homepage" method="GET">
            <button type="submit"> Retour à la liste</button>
        </form>

    </body>
</html>