<!DOCTYPE html>

<html lang="fr">

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="pageAccueil" content="ceci est la page d'accueil de l'utilisateur">

        <link rel="stylesheet" href="/public/style.css" media="all"/>

        <title>Home Page</title>

    </head>

    <body>
        <header>
            <h1>Home page</h1>
        </header>

        <main>

                <div id="liste">

                    <h2>Liste de vos destinations</h2>

                    <form action="/homepage" method="GET">
                        <button type="submit"> Destinations </button>
                    </form>

                    <form action="/agence" method="GET">
                        <button type="submit">Agences</button>
                    </form>

               
                    <% for (let i = 0 ; i < destination.length ; i++) {%>
                    
                            <form action="/destupdateform/<%= destination[i].iddestination %>" method="GET">
                            <button type="submit">Modifier</button>
                            </form>

                            <form action="/destdeleteform/<%= destination[i].iddestination %>" method="GET">
                            <button type="submit">Supprimer</button>
                            </form>


                        <%= destination[i].country %> 
                        <%= destination[i].city %> 
                        <%= destination[i].days %> 
                    
                    <% } %>

                    <form action="/destaddform" method="GET">
                        <button type="submit">Ajouter destination</button>
                    </form>
                </div>
            
        </main>

        <nav>
                <ul style="list-style-type: none;">
                    
                    <li><form action="/delete_account" method="GET">
                        <button type="submit">Supprimer compte</button>
                    </form></li>

                    <li><form action="/userHome" method="GET">
                        <button type="submit">Log out</button>
                    </form></li>
                </ul>
        </nav>

        <footer>

        </footer>


    </body>
</html>